{% extends "base.html" %}
{% block title %}修改密码 - 电影推荐系统{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="glass p-4 rounded-4">
            <h4 class="mb-3">修改密码</h4>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    <label class="form-label">旧密码</label>
                    {{ form.old_password }}
                    {{ form.old_password.errors }}
                </div>
                <div class="mb-3">
                    <label class="form-label">新密码</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}
                </div>
                <div class="mb-3">
                    <label class="form-label">确认新密码</label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-dark">更新密码</button>
                    <a class="btn btn-light" href="{% url 'profile' %}">返回</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


